body {
  margin: 0;
  padding: 0;
  background-color: #f3d4bb !important;
  background-repeat: no-repeat;
}

.bg-image {
  background-image: url(../public/background.avif);
}

.sidebar {
  background-color: rgba(247, 56, 32, 0.7) !important;
  /* z-index: 100; */
}

.black {
  border: 1px solid grey;
}
a {
  text-decoration: none !important;
}

#parentM li a:hover {
  background-color: gray;
}

.h-60 {
  height: 100px;
}

.cards {
  position: relative;
  transition: 0.3s;
  padding: 10px 30px;
  width: 350px;
  height: 100px;
  cursor: pointer;
}

.cards:hover > .imgbox {
  transform: translateY(-80px);
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-30px);
  z-index: 10;
}

img {
  width: 100%;
}

.profile-img {
  width: 40px !important;
  height: 40px;
}

.content {
  z-index: -9;
  transform: translateY(-60px);
}

.height-inherit {
  height: 600px !important;
}

.border-radius-50 {
  border-radius: 100%;
}

.search-bar {
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid grey;
}

.search button {
  border-radius: 100%;
  padding: 7px !important;
}

.mt--1 {
  margin-top: -10px;
}

.pointer {
  cursor: pointer;
}

.globebox {
  position: relative;
  transition: 0.3s;
  padding: 25px 23px;
  width: 80px;
  height: 80px;
  /* z-index: 1000; */
  background-color: #50c878;
  transform: translateY(-30px);
}

.m-6 {
  margin-left: 4rem;
}

.p-us-6 {
  padding-left: 280px;
}

.p-ger-6 {
  padding-left: 248px;
}

.p-aus-6 {
  padding-left: 253px;
}

.p-uk-6 {
  padding-left: 200px;
}

.p-rom-6 {
  padding-left: 250px;
}

.p-br-6 {
  padding-left: 272px;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.img-flag {
  width: 25px !important;
  height: 20px !important;
}

.mt-6 {
  margin-top: 90px !important;
}

.Card-Component-globebox {
  position: relative;
  transition: 0.3s;
  padding: 25px 23px;
  width: 80px;
  height: 80px;
  /* z-index: 1000; */
  background-color: #50c878;
  transform: translateY(-30px);
  margin-left: 15px;
}

.bg-sofa {
  background-color: rgb(246, 175, 45);
}

.bg-graph {
  background-color: rgb(213, 54, 80);
}

.bg-followers {
  background-color: rgb(37, 208, 208);
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Set the scrollbar thumb color to white */
}
